link: https://www.jianshu.com/p/e76861ed1815

In [1]:
import pandas as pd
import numpy as np

In [2]:
boolean = [True,False]
gender = ["男","女"]
color = ["white","black","yellow"]
data = pd.DataFrame({
    "height": np.random.randint(150,190,100),
    "weight": np.random.randint(40,90,100),
    "smoker": [boolean[x] for x in np.random.randint(0,2,100)],
    "gender": [gender[x] for x in np.random.randint(0,2,100)],
    "age": np.random.randint(15,90,100),
    "color": [color[x] for x in np.random.randint(0,len(color),100) ]
}
)
data.sample(5)

    age   color gender  height  smoker  weight
89   30   white      女     179    True      71
23   66   white      男     156    True      86
85   42   white      男     159    True      43
90   52  yellow      男     152   False      50
78   65   white      男     159    True      85

### Series map和apply操作

- `df['column_name'].map(dict)`
- `df['column_name'].map(fn)`
- `df['column_name'].apply(fn)`

In [10]:
# Series 数据处理
# 1、使用字典映射
data['gener'] = data['gender'].map({'男': 1, '女': 0})
# 2、使用函数
def fn(x):
    return '男' if x == 1 else '女'
data['gener'] = data['gener'].map(fn)
data.head()

   age   color gender  height  smoker  weight gener
0   83   white      女     188    True      49     女
1   27  yellow      男     186   False      52     男
2   74   black      女     180    True      48     女
3   34   black      男     186    True      81     男
4   30   white      女     180   False      44     女

In [23]:
# apply 与 map的区别在于可以传参数
def fn(x, arg):
    return x + arg

data['age'] = data['age'].apply(fn, args=(3,))

### dataframe apply 操作

总结：

- 传参Series类型
- axis=0 对列进行操作， axis=1对行进行操作

In [25]:
# 对dataframe进行apply, 需要选择0轴还是1轴， 0轴是列轴， 1轴是行轴
# 列轴求和, 有多少列就多少个数据
data[['height', 'weight', 'age']].apply(np.sum, axis=0).reset_index()

    index      0
0  height  17012
1  weight   6525
2     age   5852

In [34]:
# 行轴求和， 有多少行就多少个
# 如计算每个人的BMI指数（Body Mass Index）即身体质量指数， 体重(kg)除以身高(m)的平方(BMI =公斤/m2). 
def bmi(series):
    h = series['height'] / 100.0
    w = series['weight']
    r = w/h**2
    
    if r <= 18.4:
        return '偏瘦'
    elif  18.5 < r <= 23.9:
        return '正常'
    elif 24.0 < r <= 27.9:
        return '偏重'
    else:
        return '肥胖'
    
data[['height', 'weight', 'age']].apply(bmi, axis=1).reset_index().sample(5)

    index   0
62     62  偏重
43     43  肥胖
32     32  偏重
33     33  肥胖
26     26  正常

### applymap 操作
对每个单元格应用函数

In [38]:
data[['weight', 'height']].applymap(lambda x: str(x) + 'kg').head()

  weight height
0   49kg  188kg
1   52kg  186kg
2   48kg  180kg
3   81kg  186kg
4   44kg  180kg